@model IEnumerable<Market.Cqrsnes.Projection.Models.User>

@{
    ViewBag.Title = "Users";
    ViewBag.Tagline = "people is our treasure";
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Balance</td>
            <td>
                <form action="@Url.Action("GiveMoney")" method="POST">
                    <div class="clearfix">
                        <div class="input">
                            <input type="hidden" name="userId" value="@user.Id"/>
                            <input type="hidden" name="amount" value="100"/>
                            <button class="btn" type="submit">Give 100</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
