@model IEnumerable<Market.Cqrsnes.Projection.User>

@{
    ViewBag.Title = "Users";
    ViewBag.Tagline = "people is our treasure";
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Balance</td>
        </tr>
    }
    </tbody>
</table>
