@model string

@{
    ViewBag.Title = "Log In";
    ViewBag.Tagline = "please, supply your credentials";
    ViewBag.ReturnUrl = Model;
}

<p>You need to be logged in to interact with the system.</p>

<p>Please, @Html.ActionLink("register", "Register") if you are new user.</p>
