@{
    ViewBag.Title = "Register";
    ViewBag.Tagline = "become a member of our wonderful site";
}

<form action="@Url.Action("Register", "User")" method="POST">
    <div class="clearfix">
        <label for="name">Name:</label>
        <div class="input">
            <input type="text" id="name" name="name"/>
        </div>
    </div>
    <div class="clearfix">
        <label for="password">Password:</label>
        <div class="input">
            <input type="password" id="password" name="password"/>
            <button class="btn" type="submit">Register</button>
        </div>
    </div>
</form>
