@model Market.Cqrsnes.Projection.ArticleListViewModel

@{
    ViewBag.Title = "Articles List";
    ViewBag.Tagline = "(goods, products, whatever you want)";
}

<table>
<thead>
<tr>
    <th>Name</th>
    <th>Qty</th>
    <th></th>
</tr>
</thead>
</table>