@model IEnumerable<Market.Cqrsnes.Projection.Article>

@{
    ViewBag.Title = "Articles";
    ViewBag.Tagline = "goods, products, whatever you want";
}

@if (Model.Any())
{
    <ul>
        @foreach(var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
}
else
{
    <p>There are no articles yet.</p>
}

<form action="@Url.Action("Create")" method="POST">
    <div class="clearfix">
        <label for="name">Name:</label>
        <div class="input">
            <input type="text" id="name" name="name"/>
            <button class="btn" type="submit">Create new</button>
        </div>
    </div>
</form>
