@model IEnumerable<Cqrsnes.Test.ISpecificationHolder>
           
@{
    ViewBag.Title = "Test";
    ViewBag.Tagline = "available system tests";
    
    var index = 0;
}

@if (Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "TestResults", new {id = index++})</li>
        }
    </ul>
}
else
{
    <p>There are no tests yet.</p>
}
