@model IEnumerable<Market.Cqrsnes.Projection.Store>

@{
    ViewBag.Title = "Stores";
    ViewBag.Tagline = "here you can choose where to buy something";
}

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Offers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var store in Model)
            {
                <tr>
                    <td>@Html.ActionLink(store.Name, "Offers", new {id = store.Id})</td>
                    <td>@store.OwnerName</td>
                    <td>@store.OffersCount</td>
                </tr>
            }    
        </tbody>
    </table>
}
else
{
    <p>There are no stores yet.</p>
}

<form action="@Url.Action("Create")" method="POST">
    <div class="clearfix">
        <label for="name">Name:</label>
        <div class="input">
            <input type="text" id="name" name="name"/>
            <button class="btn" type="submit">Create new</button>
        </div>
    </div>
</form>
